
<section>
 <div class="login-form">
   <!-- <div class="text">LOGIN</div> -->
   <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>

     <div class="field">
       <div class="fas fa-envelope"></div>
       <input type="email" name="emailId" ngModel placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
     </div>
     <div *ngIf="loginForm.controls?.['emailId']?.errors?.['required'] && loginForm.controls?.['emailId']?.touched" class="alert alert-danger">
       <h6>Email is required</h6>
     </div>
     <div *ngIf="loginForm.controls?.['emailId']?.errors?.['pattern'] && loginForm.controls?.['emailId']?.touched" class="alert alert-danger">
       <h6>Invalid email format</h6>
     </div>
     <div class="field">
       <div class="fas fa-lock"></div>
       <input type="password" name="password" ngModel placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$">
     </div>
     <div *ngIf="loginForm.controls?.['password']?.errors?.['required'] && loginForm.controls?.['password']?.touched" class="alert alert-danger">
       <h6>Password is required</h6>
     </div>
     <div *ngIf="loginForm.controls?.['password']?.errors?.['pattern'] && loginForm.controls?.['password']?.touched" class="alert alert-danger">
       <h6>Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*)</h6>
     </div>
     <!-- <div>
      <asl-google-signin-button *ngIf="!customer"></asl-google-signin-button>

     </div>
     <div *ngIf="customer">
      <img src="{{customer.photoUrl}}">
      <div>
        <h4> {{customer.custName}} </h4>
        <h4> {{customer.emailId}} </h4>
      </div>
     </div> -->
     <button [disabled]="!loginForm.valid" class="btn btn-primary">LOGIN</button>
     <br>
     <br>
     <br>
     <hr>
     <div class="link">
      <!-- <button  routerLink="login/mobileno"  (click)="forgot()">Click here</button> -->
      <input type="submit"  value="Forgot Password" routerLink="forgotpassword"/></div>
      <br/>
      <br/>
      <div>
        <div >
          <a href="https://accounts.google.com/ServiceLogin/identifier" target="_blank"id="gmailLink">
          <img src="/assets/images/googleimage.png" width="60px" height="60px" onclick="handleSignInClick()">
        </a>
        </div>
      </div>
      <script>
        function onSuccess(googleUser) {
          // User signed in successfully. You can perform your project-specific actions here.
          var idToken = googleUser.getAuthResponse().id_token;
        }

function onFailure(error) {
  console.log(error);
}
function handleSignInClick() {
      gapi.signin2.render('gmailLink', {
        'scope': 'email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
      gapi.auth2.getAuthInstance().signIn();
    }

    function initializeGoogleSignIn() {
      gapi.load('auth2', function () {
        gapi.auth2.init({
          client_id: '114347816233-k7njqvq24ejdgtbmhc5hi37k9fonj9t6.apps.googleusercontent.com',
        }).then(function () {
          // Initialization complete
        });
      });
    }
    initializeGoogleSignIn();
  </script>
   </form>
 </div>


</section>


