<body>
<h2 align="center"> Pet Cart </h2>
<!-- <div class="container" *ngFor="let item of cartItems"> -->
    <div>
    <table class="table table-bordered table-sm table-hover table-striped text-center">
        <thead>
            <tr class="bg-info text-white">
                <th> Pet Image </th>
                <th> Pet Id </th>
                <th> Name </th>
                <th> Price </th>
            </tr>
        </thead>
        <thead>
            <tbody>
            <tr *ngFor="let item of cartItems">
    <td> <img src="{{ item.imagePath }}" height="100px" width="100px" /> </td>
    <td> {{ item.id }} </td>
    <td> {{ item.name }} </td>
    <td> {{ item.price }} </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td align="right"><h3>Total</h3></td>
    <td>{{total}}</td>
</tr>
  </tbody>
</table>
<button class="proceed-to-checkout-btn1" (click)="Payment()">Proceed to payment</button>
</div>
</body>
