
  <!-- <app-register></app-register>    -->

  <!-- <app-login></app-login>  -->
<app-header></app-header>
     <router-outlet></router-outlet>       
  
  <!-- <app-veterinarian></app-veterinarian>  -->

 <!-- <app-admin></app-admin> -->
 <!-- <app-showcustomers></app-showcustomers>  -->
   <!-- <app-petregister></app-petregister>   -->

   <!-- <app-dog></app-dog>   -->
<!-- <app-cat></app-cat> -->

<!-- <app-review></app-review> -->
<!-- <app-carousel></app-carousel> -->