
  
  
  
<section class="vh-200 gradient-custom">
  <div class="container py-5 h-100" style="margin-left: 30%;">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;">Write Your Review</h3>
            <form (ngSubmit)="submitReview()" #reviewForm="ngForm" style="max-width: 400px; margin: 0 auto;top:-1px">
              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <label for="rating"><h5>Rating:</h5></label>
                    <input class="form-control form-control-lg" type="number" id="rating" name="rating" [(ngModel)]="review.rating" required min="1" max="5">
                  </div>
                </div>
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <label for="comment"><h5>Comment:</h5></label>
                    <textarea class="form-control form-control-lg" id="comment" name="comment" [(ngModel)]="review.comment" required style="height: 150px;"></textarea>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-outline">
                  <ul>
                    <li *ngFor="let review of reviews">
                      Rating: {{ review.rating }} - Comment: {{ review.comment }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" [disabled]="reviewForm.invalid" class="btn btn-info" >Submit Review</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
