

<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let cat of cats">
  
        <div class="card" style="width:300px; height: 475px;">
          <img class="card-img-top" src={{cat.imagePath}} alt="" style="width:70%; height: 100%;">
          <div class="card-body">
            <h4 class="card-title"> {{cat.name}} </h4>
            <p class="card-text"> {{cat.description}} </p>
            <h6>Price: ₹{{cat.price}}/-</h6>
            <p align="right">
            <button  (click)="addToCart(cat)" class="btn btn-primary">Add to Cart</button>
            </p>
          </div>&nbsp;&nbsp;
        
      
      </div>
    </div>
  </div>
