
<section class="vh-200 gradient-custom">
    <div class="container py-5 h-100" style="margin-left: -18%;">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 75px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;"> Pet Registration Form</h3>
              <form #regForm="ngForm" (ngSubmit)="register(regForm.value)">
                <div class="row justify-content-start">
                  <div class="col-12">
                    <div class="form-outline w-100">
                      <input class="form-control form-control-lg" type="text" name="ownerName" ngModel #ownerName="ngModel" required/>
                      <label class="form-label">Owner Name</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input class="form-control form-control-lg" type="text" name="ownerMail" ngModel #ownerMail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
                      <div *ngIf="regForm.controls?.['ownerMail']?.errors?.['pattern'] && (regForm.controls?.['ownerMail']?.dirty || regForm.controls?.['ownerMail']?.touched)" class="alert alert-danger">
                        Please enter a valid email address.
                      </div>
                      <label class="form-label">Owner Mail</label>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input class="form-control form-control-lg" type="text" name="mobNo" ngModel #mobNo="ngModel" maxlength="10"  pattern="[6789][0-9]{9}"  required />
                      <div *ngIf="regForm.controls?.['mobNo']?.errors?.['pattern'] && (regForm.controls?.['mobNo']?.dirty || regForm.controls?.['mobNo']?.touched)" class="alert alert-danger">
                        Please enter a valid mobile number starting with 6,7,8 or 9.
                      </div>
                     
                      <label class="form-label">Mobile Number</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <select class="form-control form-control-lg" name="PetType" ngModel #petType="ngModel" required>
                        <option value="">Select Pet Type</option>
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                      </select>
                      <label class="form-label">Pet Type</label>
                    </div>
                  </div>
                </div>


                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input class="form-control form-control-lg" type="date" name="dor" min="{{minDate}}" ngModel #dor="ngModel" required />
                        <label class="form-label">Date of Registration</label>
                      </div>
                    </div>

                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input class="form-control form-control-lg" type="text" name="petAge" ngModel #petAge="ngModel" />
                        <label class="form-label">Pet Age</label>
                      </div>
                    </div>
                  </div>
                  
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input class="form-control form-control-lg" type="text" name="petBreed" ngModel #petBreed="ngModel" />
                        <label class="form-label">Pet Breed</label>
                      </div>
                    </div>
                    
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <select class="form-control form-control-lg" name="petGender" ngModel #petGender="ngModel" required>
                            <label class="form-label">Pet Gender</label>
                          <option value="">Select Gender</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  

                <div class="col-md-6 mb-4">
                <div class="form-outline">
                    <input class="form-control form-control-lg" type="text" name="days" ngModel #days="ngModel" />
                    <label class="form-label">Days</label>
                  </div>
                  </div>
  
                <div class="text-center">
                  <button type="submit" class="btn btn-info">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>