<!-- <div class="paypal-container">
    <div class="amount">Total amount to pay: ${{amount}}</div>
    <div class="info">Please do not refresh the browser while the transaction is processing</div>
    <div #paymentRef></div>
    <div class="back" (click)="cancel()">Cancel</div>
  </div> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <form >


    
  </form>



<button (click)="payNow()">Pay amount</button>