

<div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let dog of dogs">
  
        <div class="card" style="width:300px; height: 475px;">
          <img class="card-img-top" src={{dog.imagePath}} alt="" style="width:70%; height:100%;">
          <div class="card-body">
            <h4 class="card-title"> {{dog.name}} </h4>
            <p class="card-text"> {{dog.description}} </p>
            <h6>Price: ₹{{dog.price}}/-</h6>
            <p align="right">
            <!-- <button class="btn btn-primary">Add to Cart</button> -->
            <button (click)="addToCart(dog)" class="btn btn-primary">Add to Cart</button>

            </p>
          </div>
        </div> &nbsp;&nbsp;
      
      </div>
    </div>
  </div>
