
<section class="vh-200 gradient-custom">
    <div class="container py-5 h-100" style="margin-left: 31.8%;">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;">PET TREAT FORM</h3>
                        <form #regForm="ngForm" (ngSubmit)="register(regForm.value)">
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">
                                    <div class="form-outline w-100">
                                        <select class="form-control form-control-lg" name="petType" ngModel #petType="ngModel" required>
                                            <option value="">Select Pet Type</option>
                                            <option value="Dog">Dog</option>
                                            <option value="Cat">Cat</option>
                                        </select>
                                        <label class="form-label">Pet Type</label>
                                    </div>
                                </div>
  
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input class="form-control form-control-lg" type="text" name="petBreed" ngModel #petBreed="ngModel" />
                                        <label class="form-label">Pet Breed</label>
                                    </div>
                                </div>
  
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <select class="form-control form-control-lg" name="petGender" ngModel #petGender="ngModel" required>
                                            <option value="">Select Gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                        <label class="form-label">Pet Gender</label>
                                    </div>
                                </div>
  
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input class="form-control form-control-lg" type="text" name="petAge" ngModel #petAge="ngModel" />
                                        <label class="form-label">Pet Age</label>
                                    </div>
                                </div>
  
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input class="form-control form-control-lg" type="date" name="appointmentDate" min="{{minDate}}" ngModel #appointmentDate="ngModel" required />
                                        <label class="form-label">Appointment Date</label>
                                    </div>
                                </div>
  
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input class="form-control form-control-lg" type="text" name="mailAdd" ngModel #mailAdd="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
                                        <div *ngIf="regForm.controls?.['mailAdd']?.errors?.['pattern'] && (regForm.controls?.['mailAdd']?.dirty || regForm.controls?.['mailAdd']?.touched)" class="alert alert-danger">
                                            Please enter a valid email address.
                                        </div>
                                        <label class="form-label">Mail Address</label>
                                    </div>
                                </div>
                            </div>
  
                            <div class="text-center">
                                <button type="submit" class="btn btn-info">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
