
<!DOCTYPE html>
<html>
<head>
  
  
  <!-- <style>
    
   
    
    ul.navbar {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #333;
    }
    .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #f1f1f1;
    }
.navbar li {
      display: flex;
      align-items: center;
    }
.navbar img {
      margin-right: 5px;
    }

    ul.navbar li {
      flex-grow: 1;
    }

    ul.navbar li a {
      display: block;
      color: pink;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    ul.navbar li a:hover {
      background-color: #111;
    }
    .dropdown-content {
      display: none;
      position: fixed;
      background-color: purple;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
    .container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  margin-left: 10px; 
}

</style>
</head>
<ul class="navbar">
  <li>
    <img src="https://media.istockphoto.com/id/1186734274/vector/vector-image-of-dog-and-cat-logo-on-white.jpg?s=170667a&w=0&k=20&c=HLwkvF-jEr2MxjRnaOdvWw6uCHsZ3NWiC7wSyyMU4fE="
    alt="Heads and Tails Logo" width="100px" height="100px">
  <h4 style="color: pink;">FLUFFY TAILS</h4>
  </li>
  <li><a href="#">Home</a></li>
  <li class="nav-item">
    <a class="nav-link" routerLink="breed">Breed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="veterinarian">Veterinarian</a>
  
    </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="petregister">Pet Care</a>
  
  </li>
   
  <li class="nav-item">
    <a class="nav-link" routerLink="reviews">Reviews</a>
  
  </li>
  <li class="dropdown">
    <a href="#"><img src="https://i.pinimg.com/564x/12/0c/db/120cdbb156b59eea88d9d213c08f9184.jpg" 
      width="30px" height="30px"></a>
      <div class="dropdown-content">
        <li class="nav-item">
          <a class="nav-link"   routerLink="login"> Login </a>
        </li>
       
       
       
        
      </div>
  </li>
</ul>
 -->

<section class="vh-200 gradient-custom" >
  <div class="container py-5 h-100" style="margin-left: 30%;">
    <div class="row justify-content-center align-items-center h-100" >
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 75px;">
          <div class="card-body p-4 p-md-5"> 
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align:center;">Registration Form</h3>
            <div class="fixed-form" >
              <!-- <p ><h3 style="text-align: center;">REGISTRATION FORM</h3> -->
                <br/>
            <form #regForm="ngForm" (ngSubmit)="register(regForm.value)">
              <!-- <form (ngSubmit)="sendEmail()" #registrationForm="ngForm"> -->
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
               
                  <div class="form-outline datepicker w-100">
                    <input class="form-control" type="text" name="custName" ngModel #custName="ngModel" class="form-control form-control-lg"  required/>
                    <label  class="form-label">Your Name</label>
                  </div>


                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <select class="form-control" name="gender" ngModel #gender="ngModel" class="form-control form-control-lg"  required>
                        <option value=""> Select Gender </option>
                        <option value="Male"> Male </option>
                        <option value="Female"> Female </option>
                        <option value="Other"> Other </option>
                    </select>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <input class="form-control" type="text" name="address" ngModel #address="ngModel" class="form-control form-control-lg"  />
                    <label class="form-label" >Address</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <select class="form-control" name="country" ngModel #country="ngModel" class="form-control form-control-lg"  required>
                      <option value=""> Select Country </option>
                      <option value="{{country.cca3}}" *ngFor="let country of countries"> {{country.name.common}} </option>
                  </select>
                    <label class="form-label">Country</label>
                  </div>

                </div>
              </div>

             

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <span class="input-group-addon"><i class="	glyphicon glyphicon-calendar"></i></span>
                    <input class="form-control" type="date" name="dor" min="{{minDate}}" ngModel #dor="ngModel" class="form-control form-control-lg" required />
                    <label class="form-label" >Date of Registeration</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input class="form-control" type="text" name="mobNo" ngModel #mobNo="ngModel" class="form-control form-control-lg"  maxlength="10" pattern="[6789][0-9]{9}" required />
                    <div *ngIf="regForm.controls?.['mobNo']?.errors?.['pattern'] && (regForm.controls?.['mobNo']?.dirty || regForm.controls?.['mobNo']?.touched)" class="alert alert-danger">
                      Please enter a valid mobile number starting with 6,7,8 or 9.
                    </div>
                    <label class="form-label" >Mobile Number</label>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel" class="form-control form-control-lg" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"required/>
                    <div *ngIf="regForm.controls?.['emailId']?.errors?.['pattern'] && (regForm.controls?.['emailId']?.dirty || regForm.controls?.['emailId']?.touched)" class="alert alert-danger">
                      Please enter a valid email address.
                    </div>
                    <label class="form-label" >Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input class="form-control" type="password" name="password" ngModel #password="ngModel" class="form-control form-control-lg" pattern="(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.\W).{8,}" required/>
                    <div *ngIf="regForm.controls?.['password']?.errors?.['pattern'] && (regForm.controls?.['password']?.dirty || regForm.controls?.['password']?.touched)" class="alert alert-danger">
                      Please enter a password with at least 8 characters, one uppercase letter, one lowercase letter, one digit, and one special character.
                    </div>
                    <label class="form-label" >Password</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div  class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input class="form-control" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control form-control-lg" required />
                    <div *ngIf="regForm.controls?.['confirmPassword']?.errors?.['compare'] && (regForm.controls?.['password']?.dirty || regForm.controls?.['confirmPassword']?.touched)" class="alert alert-danger">
                      Passwords do not match.
                    </div>
                    <div *ngIf="regForm.controls?.['confirmPassword']?.errors?.['required'] && regForm.controls?.['confirmPassword']?.touched" class="alert alert-danger">
                      <h6> Confirm Password is required</h6>
                    </div>
                    <label class="form-label" > Confirm Password</label>
                  </div>
                  </div>
                  
              <br/>
              <br/>
              <br/>
              <br/>
                  <!-- <div>
                    
                      <ngx-recaptcha2 #captchaElem
                        [siteKey]="siteKey"
                        
                        formControlName="recaptcha">
                      </ngx-recaptcha2>
                    
                  </div> -->
                  <td align="right"> </td>
                  <td align="left"> <button type="submit" class="btn btn-info"> Register </button> </td>
              
                </div>
            </form>
          
        </div>
        </div>
      </div>
    </div>
  </div>

<!-- </section> -->
<!-- </html> -->

























































































































































